body {
    margin: 0;
    padding: 0;
    background: url(../img/background.png) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

.parrafo{
    display: flex;
    justify-content: center;
    text-align: center;
}
.P-1{
    text-align: center;
    font-size: 35px;
    color: black;
    margin-top: 100px;
    margin-block-end: -80px;
}

.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.img-1{
    width: 150px;
    height: 150px;
    cursor: pointer;
    margin-left: 27px;
    margin-right: 27px;
    margin-top: -130px;
}
.img-2{
    width: 150px;
    height: 150px;
    cursor: pointer;
    margin-left: 27px;
    margin-right: 27px;
    margin-top: -130px;
}
.img-3{
    width: 150px;
    height: 150px;
    cursor: pointer;
    margin-left: 27px;
    margin-right: 27px;
    margin-top: -130px;
}
.img-4{
    width: 150px;
    height: 150px;
    cursor: pointer;
    margin-left: 27px;
    margin-right: 27px;
    margin-top: -137px;
}

.texto-1{
    display: flex;
    justify-content: center;
}
.p-1{
    margin-top: -290px;
    margin-left: -20px;
    margin-right: 45px;
}
.p-2{
    margin-top: -290px;
    margin-left: 45px;
    margin-right: 45px;
}
.p-3{
    margin-top: -290px;
    margin-left: 45px;
    margin-right: 45px;
}
.p-4{
    margin-top: -290px;
    margin-left: 45px;
    margin-right: 45px;
}